# --- REQUIRED ---
API_ID=123456
API_HASH=abcdef1234567890
BOT_TOKEN=123456:ABC-DEF
OWNER_ID=123456789
MONGO_DB_URI=mongodb+srv://user:pass@cluster.mongodb.net/database
STRING_SESSION=BAGxz... # Get this from @StringFatherBot on Telegram

# --- OPTIONAL ---
LOGGER_ID=-1001234567890
DURATION_LIMIT=720
SUPPORT_CHANNEL=https://t.me/Anaavaran
SUPPORT_CHAT=https://t.me/Anaavaran_Support
START_IMG_URL=https://telegra.ph/file/32ebdec3530b5d00ff215.jpg
PING_IMG_URL=https://telegra.ph/file/9d0ceecf52dc224624d36.jpg

# --- PLUGINS ---
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
PLAYLIST_FETCH_LIMIT=100
